.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50%;
  width: 100vw;
  height: 100vh;
}

.alert-box {
  position: fixed;
  top: 15vh;
  left: 20vw;
  width: 60vw;
  height: 60vh;
  z-index: 70%;
  background-color: #fff;
}
